/*general*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(246, 248, 249);
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*titoli*/

h1{
    display: inline-block;
    vertical-align: middle;
}

h2{
    display: inline-block;
    margin-top: 30px;
}

h4{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 20px;
}

.arrow{
    margin-left: 30px;
}

.logo{
    vertical-align: middle;
}

.container-top{
    background-color: white;
}

.container-button{
    width: 80%;
    background-color: white;
    margin: auto;
    border-bottom: 1px solid rgb(246, 248, 249) ;
}

/*buttons*/

.container-button button{
    height: 30px;
    border-radius: 10%;
    padding: 5px;
}

.first-button{
    background-color: rgb(71, 173, 241);
    color: white;
    margin-left: 30px;
}

.second-button{
    background-color: white;
    color: rgb(219, 222, 225);
}

.container{
    width: 80%;
    background-color: white;
    margin: auto;
}

ul{
    list-style: none;
    margin-top: 10px;
    margin-left: 30px;
}

.spunta{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 15px;
    border: 1px solid rgb(103, 193, 171);
    border-radius: 50%;
    color: rgb(103, 193, 171);
}

.editorial{
   padding: 5px;
   border-radius: 30%;
   background-color: rgb(69, 171, 234);
   color: white;
}

.q1-goals{
   padding: 5px;
   border-radius: 30%;
   background-color: rgb(156, 114, 228);
   color: white;
}

.cross{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 15px;
    border: 1px solid rgb(235, 89, 82);
    border-radius: 50%;
    color: rgb(235, 89, 82);
}

.recruiting{
    padding: 5px;
    border-radius: 30%;
    background-color: rgb(100, 192, 169);
    color: white;
}

.mobile{
    padding: 5px;
    border-radius: 30%;
    background-color: rgb(242, 158, 51);
    color: white;
}

.website{
    padding: 5px;
    border-radius: 30%;
    background-color: rgb(216, 99, 161);
    color: white;
}

.sales{
    padding: 5px;
    border-radius: 30%;
    background-color: rgb(176, 201, 38);
    color: white;
}